/* Import stylesheets and hide from IE/Mac \*/
@import "lib/reset.css";
@import "lib/typography.css";
/*@import "lib/buttons.css";*/
@import "coderay.css";
@import "lib/swfu.css";
@import "lib/jquery-autocomplete/jquery.autocomplete.css";
/* End import/hide */

h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

#header {
  background: #600 url('dot.png') repeat;
}
#header h1 {
}
#header h1 a {
  display: block;
  width: 70px;
  height: 20px;
  background: transparent url('logo.png') no-repeat 5px 5px;
}
#header h1 a span {
  display: none;
}

#menu {
  padding: 0.25em 0.6em;
  font-size: 90%;
}
#menu label {
  font-weight: normal;
}
#menu-search, #menu-search div {
  display: inline;
}

#content-box {
  padding: 1em;
}
#footer-box {
  margin-bottom: 0.75em;
}
.clear {
  clear: both;
}

#new-page #name, #rename-page #new_name {
  font-size: 170%;
  font-weight: bold;
}

h2 {
  margin-bottom: 0.5em;
}

li {
  margin-left: 1.5em;
}

.nonexistant a {
  color: #d30;
}

textarea#content {
  width: 99.7%;
}

.conflicts {
  width: 80em;
  margin: 0 auto 1em 0;
  padding: 0;
  border: 3px solid #c00;
}

.conflicts h4 {
  background: #c00 url('error.png') no-repeat 2px 2px;
  color: #fff;
  margin: 0;
  padding: 1px 0 0 20px;
}

.conflicts p {
  background: #c00;
  color: #fff;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 1.0em;
}

.conflicts ul {
  margin: 1em;
}
.conflicts ul li a {
  padding: 1px 18px 1px 0;
  background: transparent url('arrow_join.png') no-repeat right 0;
}

.searchresult {
  margin: 0 0 1em 0;
}
.searchresult h4 {
  margin: 0 0 0.25em 0;
}
.searchresult .linenumber {
  color: #bbb;
  width: 2em;
  display: block;
  float: left;
  text-align: right;
  padding: 0 0.5em 0 0;
}
.searchresult .match {
  background: #ffc;
}

#file_upload {
  border: 1px solid #ccc;
  margin: 1em;
  padding: 1em;
}

#help-link {
  float: right;
}

table.hotkeys {
  width: 32em;
}
table.hotkeys td.hotkey {
  width: 7em;
}
table.hotkeys span.hotletter {
  font-weight: bold;
  text-decoration: underline;
}

table.markup-reference {
  width: 50em;
}
table.markup-reference td {
  vertical-align: top;
}
table.markup-reference td.markup {
  font-family: monospace;
  width: 20em;
}

#page-list {
  float: left;
  width: 30em;
}
#upload-list {
  float: left;
  width: 30em;
}
#page-list .rename, #upload-list .rename {
  padding: 1px 20px 1px 0;
  background: transparent url('/static/textfield_rename.png') no-repeat right 0;
}
#page-list .rename span, #upload-list .rename span {
  display: none;
}
#page-list .delete, #upload-list .delete {
  padding: 1px 20px 1px 0;
  background: transparent url('/static/bullet_delete.png') no-repeat right 0;
}
#page-list .delete span, #upload-list .delete span {
  display: none;
}
