<script type="text/javascript">
  localOnload = function() {
    // esc => cancel
    hotkey('esc', redirect('<%= @redirect_uri %>'));

    // c => cancel
    hotkey('c', redirect('<%= @redirect_uri %>'));
  };
</script>
