<form id="delete-page" action="<%= @uri.delete_page(@page.name) %>" method="post">
	<p>You're sure?</p>
	<button type="submit">Delete</button>
	or <a href="<%= @uri.page(@page.name) %>">Cancel</a>
</form>
