
<form action="<%= @submit_uri %>" method="post">
	<h2><%= @page.name %></h2>
	<textarea id="content" name="content" rows="30" cols="40"><%= @page.body %></textarea>
	<br />
	<button type="submit">Save</button>
</form>