<form id="new-page" action="<%= @uri.new_page %>" method="post">
	<input id="name" name="name" size="20" value="<%= @page.name %>" /><br />
	<textarea id="content" name="content" rows="30" cols="40"><%= @page.body %></textarea><br />
	<button type="submit">Save</button>
	or <a href="<%= @uri.home %>">Cancel</a>
</form>
