<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />

<title><%= @title %> - Wiki</title>

<link type="text/css" href="/static/screen.css" media="screen, projection" rel="stylesheet"/>
<link type="text/css" href="/static/print.css" media="print" rel="stylesheet"/>

<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="author" content="Ken Pratt" />

<link rel="shortcut icon" href="/favicon.ico" />

</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h1><a href="/"><span>Wiki</span></a></h1>
		</div>

		<div id="content-box">
			<h2><%= @title %></h2>
			<% if @error %><p class="error"><%= @error %></p><% end %>
			<%= @inner %>
		</div>

		<div id="footer-box">
			<div id="menu">
				<a href="<%= @uri.home %>">Home</a> |
				<a href="<%= @uri.new_page %>">Add page</a> |
				<a href="<%= @uri.list %>">All pages</a>
			</div>
		</div>
	</div>
</body>
</html>