<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="Content-Language" content="en-us" />

<title><%= @title %> - Satellite</title>

<link type="text/css" href="/static/screen.css" media="screen, projection" rel="stylesheet"/>
<link type="text/css" href="/static/print.css" media="print" rel="stylesheet"/>

<meta name="MSSmartTagsPreventParsing" content="true" />
<meta name="author" content="Ken Pratt" />

<link rel="shortcut icon" href="/favicon.ico" />

<script type="text/javascript" src="/static/lib/jquery-1.2.6.min.js"></script>
<script type="text/javascript" src="/static/lib/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/static/lib/jquery-autocomplete/jquery.autocomplete.min.js"></script>

<script type="text/javascript">
  localOnload = function() {}; // placeholder for page-specific logic -- override in each page

  hotkey = function(key, action) { jQuery.hotkeys.add(key, { disableInInput: true }, action) };
  redirect = function(uri) { return function() { window.location = uri } };
  focus = function(id) { return function() { $('#'+id).focus() } };

  $(document).ready(function(){

    localOnload();

    // h => redirect to Home
    hotkey('h', redirect('<%= @uri.home %>'));

    // a => redirect to Add page
    hotkey('a', redirect('<%= @uri.new_page %>'));

    // l => redirect to List pages
    hotkey('l', redirect('<%= @uri.list %>'));

    // s => focus search box
    hotkey('s', focus("menu-search-query"));

    // g => focus goto box
    hotkey('g', focus("goto"));

    // page data for autocomplete
    var data = [ <%= @pages.collect {|p| "{ name: '#{p.name}', url: '#{@uri.page(p.name)}' }" }.join(', ') %> ];

    // goto autocomplete box
    $("#goto").autocomplete(data, {
      formatItem: function(page) {
        return page.name;
      }
    }).result(function(event, page) {
      location.href = page.url;
    });

  });
</script>

</head>
<body>
  <div id="wrapper">
    <div id="header">
      <h1><a href="/"><span>Satellite</span></a></h1>
    </div>

    <div id="content-box">
      <div id="help-link"><a href="<%= @uri.help %>">Help</a></div>
      
      <% if @error %><p class="error"><%= @error %></p><% end %>
      <% if @conflicts.any? %>
        <div class="conflicts">
          <h4>Warning</h4>
          <p>
            Conflicts occurred during the last sync operation. Please
            resolve the following pages as soon as possible:
          </p>
          <ul>
            <% for page in @conflicts %>
              <li><a href="<%= @uri.resolve_conflict(page.name) %>">Resolve '<%= page.name %>'</a></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <h2><%= @title %></h2>

      <%= @inner %>
    </div>

    <div id="footer-box">
      <div id="menu">
        <a href="<%= @uri.home %>">Home</a> |
        <a href="<%= @uri.new_page %>">Add page</a> |
        <a href="<%= @uri.list %>">List pages and uploads</a> |
        <form id="menu-search" action="<%= @uri.search %>" method="get">
          <div>
            <label for="menu-search-query">Search:</label>
            <input id="menu-search-query" name="query" size="18" value="" />
          </div>
        </form> &nbsp;|
        <label for="goto">Go to:</label>
        <input id="goto" size="18" value="" />
      </div>
    </div>
  </div>
</body>
</html>
